<html>
    
    <style> 
 


        body {
            color: #444;
            font: 14px/2 Arimo, Arial, sans-serif;
        }






 
        

        

        #processed-link {
            color: #bbb;
            margin-top: 2em;
        }


    </style>

    <style>
        .no-gutter{
            padding-right: 0;
            padding-left: 0;
        }
        .wrap{
            white-space: normal;
        }
        .margin-0 {
            margin-bottom: 0;
        }
        .margin-30 {
            margin-top: 30px;
        }

 
    </style>

    <div class="container-fluid margin-30" id="content">

          
               
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">  
                                    <input id="link" type="text" class="form-control"  placeholder="Paste your shareable link here">
                                    <div class="input-group-btn">
                                        <button id="get" type="button" class="btn btn-primary">Get direct link</button>
                                        <button id="clear" type="button" class="btn btn-danger ">Clear</button>
                                    </div>
                            </div>
                        </div>
                        
                    
                    </div>
                 
                
    
    </div>
    <br>
        
      
 






    <script>
        var dom = {
            gid: function (id) {
                return document.getElementById(id);
            },
            remove: function (el) {
                el.parentNode.removeChild(el);
            },
            click: function (el, f) {
                el.addEventListener('click', f, false);
            }
        }
    </script>
    <script>
        var base_url = 'https://drive.google.com/uc?export=view&id=';
        var el_link = dom.gid('link');
        var el_processed_link_id = 'processed-link';
        var el_arrow_id = 'arrow';

        dom.click(dom.gid('get'), function() {
            var id = el_link.value;
            if (~id.indexOf('://')) {
                id = process_link(el_link.value);
            }

            var url = base_url + id;
            var link = '';
            var link_wrapper = dom.gid(el_processed_link_id);

            if ((id)){
                navigator.clipboard.writeText(url);
                     link  = '<div class="panel panel-success">' + '<div class="panel-heading">Link copied to the clipboard!</div>' + '<div class="panel-body"> <strong>Link:</strong> <a href="' + url + '">' + url + '</a> </div>' + '</div>';
                    
 
            }else{
                link = '<div class="panel panel-danger"><div class="panel-heading">Wrong link or ID</div></div>';
                
            }
            console.log(id);
            
            if (link_wrapper) {
                dom.remove(link_wrapper);
            }

            link_wrapper = document.createElement('div');
            link_wrapper.className = "panel-group"
            link_wrapper.id = el_processed_link_id;
            link_wrapper.innerHTML =  link;

            dom.gid('content').appendChild(link_wrapper);

            console.log(link);
        });

        dom.click(dom.gid('clear'), function() {
            el_link.value = '';
            dom.remove(dom.gid(el_processed_link_id));
        });

        function process_link (link) {

            var link = link.concat('/'); //fix missing foward slash 
            if (link.match("open") == "open"){

                link = link.replace("id=","/d/"); //replace "id=" to  "/d/" for regex to work

                var pattern = /\/d\/(.+?)\//i;
                var results = pattern.exec(link);

                link = (results) ? results[1] : null;

                return link;

            }else{

                var pattern = /\/d\/(.+?)\//i;
                var results = pattern.exec(link);

                link = (results) ? results[1] : null;

                return link;
            }
        }
    </script>

</html>